body {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(0, 0, 0, 0.15) 100%
    ),
    radial-gradient(
        at top center,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 120%
      )
      #989898;
  background-blend-mode: multiply, multiply;
}

h1 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  color: #ffffff;
  padding-bottom: 0px;
  width: 100%;
  left: 0;
}

h2 {
  text-align: center;
  text-transform: capitalize;
  font-family: "Prompt", sans-serif;
  font-size: 40px;
  color: #000000;
  padding-top: 10px;
}
h5 {
  font-size: 20px;
}
.weatherReport {
  font-family: "Reggae One", cursive;
  color: #ec6e4c;
}
ul {
  font-size: 16px;
  text-align: left;
  line-height: 1;
  font-weight: 400;
  list-style: none;
  margin: 0 auto;
  padding-bottom: 40px;
}
#weatherBody {
  width: 470px;
  border: 2px dotted #ec6e4c;
  padding: 10px;
  margin: 30px auto;

  border-radius: 15px;
}
.city-search {
  display: block;
  text-align: center;
  top: 0;
  right: 0;
  margin: 0;
  padding: 20px;
}
.mainDisplay {
  padding: 0px 5px 0px 5px;
}
.day-info {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(0, 0, 0, 0.15) 100%
    ),
    radial-gradient(
        at top center,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 120%
      )
      #989898;
  background-blend-mode: multiply, multiply;
  border: none;
  border-radius: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  box-sizing: content-box;
  position: relative;
}
.today-box {
  font-size: 35px;
}

#todayDisplay {
  padding-top: 35px;
}
.dateInfo {
  padding: 0px;
  text-align: center;
}
.date-time {
  font-size: 15px;
  font-weight: 300;
  color: #ffffff;
  line-height: 0.5;
  padding-bottom: 5px;
}
#time {
  font-size: 32px;
  text-align: center;
  padding: 0px;
}
.day-image {
  border: none;
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(0, 0, 0, 0.15) 100%
    ),
    radial-gradient(
        at top center,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 120%
      )
      #989898;
  background-blend-mode: multiply, multiply;
  border: none;

  border-radius: 0px;
  box-sizing: content-box;

  position: relative;
}
.body-image {
  padding: 0px 16px 0px 16px;
}
.tempLink {
  color: #ffffff;
  text-align: center;
}

.day-temp {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(0, 0, 0, 0.15) 100%
    ),
    radial-gradient(
        at top center,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 120%
      )
      #989898;
  background-blend-mode: multiply, multiply;
  border: none;

  border-radius: 0px;
  box-sizing: content-box;
  position: relative;
}

.today-temp {
  font-size: 64px;
}
.units {
  position: relative;
  font-size: 15px;
  top: -25px;
}
.body-temp {
  padding-right: 0px;
  padding-bottom: 46px;
}
span.temp {
  color: #ffffff;
  font-weight: 200;
  font-size: 18px;
}
.hourly-forecast {
  text-align: center;
  font-weight: 400;
}

.hourlyCard {
  width: 4rem;

  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(0, 0, 0, 0.15) 100%
    ),
    radial-gradient(
        at top center,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 120%
      )
      #989898;
  background-blend-mode: multiply, multiply;

  border-radius: 15px;
}
.fiveDay-text {
  font-size: 16px;
  text-align: center;
}
#footer {
  color: #ffffff;
  text-align: center;
}
